header {
    font-size: 2em;
    margin:10px 10px 0px 10px;
    background-color: rgb(188, 228, 252);
    /* background-image:url("/assets/images/task.jpg"); */
    background-repeat:no-repeat;
   background-size:1000px;
   /* background-size: cover; */
    color: rgb(4, 69, 109);
    /* text-align: right; */
    border-top-left-radius: 5px;
    border-top-right-radius:5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius:5px;
    padding:2px;
    border:10px  rgba(202, 140, 5, 0.801);
    
    text-align: center;
    
    }
    /* header img {
    width:700px;
    height:700px;
    }
     */
    img{
    height:40px;
    width:40px;
    }
    
    header h1{
    font-size: 3em;
    }
    nav {
    text-align : right;
    }
    nav a {
    display : inline-block;
    padding : 10px;
    margin:5px;
    text-align:center;
    vertical-align:middle;
    border:1px  rgba(202, 140, 5, 0.801);
    color:#0f0909;
    border-radius:5px;
    text-decoration:none;
    }