<header>
  <h1>{{title}}</h1>
  <h3>{{subtitle}}</h3>
</header>


<div>
  <nav class="navbar-form navbar-left" >
      <a routerLink = "/" ><img src="https://img.icons8.com/windows/32/000000/home.png"> HOME</a>
      <a routerLink = "/add-task" ><img src="https://img.icons8.com/ios/50/000000/add-property.png"> ADD TASKS</a>
      <a routerLink = "/view-task"><img src="https://img.icons8.com/ios/50/000000/day-view.png"> VIEW TASKS</a>
      <a routerLink = "/search"> <img src="https://img.icons8.com/ios/50/000000/view-file.png"> SEARCH TASKS</a>
      
  </nav>

</div>




