table tr div td{
    padding:3em;
    }

    body div{
        width:50%;
        display: inline-block;
        align-self: center;
    }

  img{
        width: 900px;
        height:1300px;

    }