<input min="0" type="number" #taskId >
<input type="button" value="search"  (click)="search1(taskId.value)">
<!-- <div class="container"> -->
       
    <div *ngIf="onSearch; else elseBlock" class="container">
       
        <table class="table table-striped table-bordered">
          <thead class="bg-info">
            <tr>
              <th>TASK ID</th>
              <th>NAME</th>
              <th>PARENT TASK</th>
              <th> PRIORITY</th>
              <th>START DATE</th>
              <th>DUE DATE</th>

            </tr>
          </thead>
          <tbody>
              <tr>

          
              <td>{{task.taskId}}</td>
              <td>{{task.name}}</td>
              <td>{{task.parentTask}}</td>
              <td>{{task.priority}}</td>
              <td>{{task.startDate|date:'shortDate'}}</td>
              <td>{{task.endDate|date:'shortDate'}}</td>
              
           
            </tr>
          </tbody>
          <tfoot>
           
              <tr>
                  
            </tr>
          </tfoot>
        </table>
      </div>
      <input type="button" value="Back"  (click)="view()">
    
    
      <!-- <button ><a [routerLink]="['/']">Back</a></button> -->
     
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br> 



<!-- 
............................................................... -->








<!-- 
............................................................... -->
<ng-template #elseBlock>

<div class="container">
    <h4 class="text-center">TASKS LIST</h4>
    <table class="table table-striped">
    

      <thead class="bg-info">
        <tr>
          <th>Task ID</th>
          <th>Name</th>
          <th>Parent Task</th>
          <th> Designation</th>
          <th> Status</th>
          <th> Priority</th>
          <th>Start Date</th>
          <th>End Date</th>
        
          <th></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let t of taskList">
                   
          <td>{{t.taskId}}</td>
          <td>{{t.name}}</td>
          <td>{{t.parentTask}}</td>
          <td>{{t.Designation}}</td>
          <td>{{t.Status}}</td>
          <td>{{t.priority}}</td>
          <td>{{t.startDate|date:'shortDate'}}</td>
          <td>{{t.endDate|date:'shortDate'}}</td>
        
          <td><a  [routerLink] ="['/delete',t.taskId]" class="fa fa-trash" aria-hidden="true">DELETE</a></td>

         

          <div *ngIf="t.IsComplete; else elseBlock">
            
              <td><a [routerLink] ="['/update',t.taskId]" class="fa fa-pencil-alt" aria-hidden="true" class="list-group-item disabled" >UPDATE</a></td>
             
            </div>
              <ng-template #elseBlock>

                   <td><a [routerLink] ="['/update',t.taskId]" class="fa fa-pencil-alt" aria-hidden="true"  >UPDATE</a></td>
                </ng-template>
            
          
        </tr>
      </tbody>
      <tfoot>
        <tr class="bg-info text-center">
          <td colspan="4">No. of Tasks : <strong>{{size}}</strong></td>
          <td> </td>
          <td> </td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
      </tfoot>
    </table>
    <br/>
  <br/>
  <br/>
  <br/>
  <br/>
  <br/>
  <br/>
  </div>
  
  <ng-template>

