
<!-- <body><div>
    <img src="/assets/images/task.jpg"></div>
    
 
    <div><h2>
       
    <pre>       
              "Always render more and                    
                  better service than expected of you,            
                      no matter what your task maybe!"
    </pre>
  </h2></div>

  <br/>
  <br/>
  <br/>
  <br/>
  <br/>
  <br/>
  <br/>
  <br/>
  <br/>
  <br/>
  </body> -->

  <body>
        
     
        <div><h2>
        <pre>       
            Keep your work on track and your team involved
            with a simple & visual task management tool
        </pre>
      </h2></div>
      <div>
            <img src="/assets/images/task.jpg"></div>
    
      <br/>
      
      
      
      
      
      </body>